/* new styles */
body {
  background-color: #00837c;
  color: #ffffff;
}
body.step-2-bg .feat-image,
body.step-2-bg .logos-footer {
  display: none !important;
  visibility: hidden;
}
.square-content-app {
  height: 600px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .square-content-app {
    height: auto;
  }
}
#fb-welcome {
  display: none !important;
  visibility: hidden;
}
.app-bg {
  position: relative;
  padding: 35px 0 20px;
}
.square-bg {
  background-image: url('../img/square-bg.png');
  position: absolute;
  height: 85px;
  width: 85px;
}
.square-bg.top-left {
  top: 0;
  left: -15px;
}
.square-bg.bottom-left {
  bottom: 0;
  left: -15px;
  background-position: bottom left;
}
.square-bg.bottom-right {
  bottom: 0;
  right: -15px;
  background-position: bottom right;
}
.square-bg.top-right {
  top: 0;
  right: -15px;
  background-position: top right;
}
.feat-image {
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #ffe9b7;
}
@media (max-width: 480px) {
  .feat-image {
    max-width: 180px;
  }
}
.content-message {
  margin: 30px;
}
@media (max-width: 480px) {
  .content-message {
    margin: 10px 0 30px;
  }
}
.content-message .btn.btn-lg {
  font-size: 24px;
}
@media (max-width: 779px) {
  .content-message .btn.btn-lg {
    font-size: 18px;
  }
}
.advice-msg {
  font-family: 'Lobster', cursive;
  font-size: 19px;
  font-weight: normal;
  line-height: 130%;
}
.advice-msg .smal-text {
  font-size: 18px;
  padding-top: 20px;
}
@media (max-width: 480px) {
  .advice-msg {
    font-size: 16px;
  }
}
.title-advice-msg {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: normal;
  margin: -15px 0 15px;
}
.form-control {
  margin-bottom: 20px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.logo-clinica img,
.hashtag-10-p img {
  position: absolute;
  bottom: 0;
}
.logo-clinica img {
  right: 0;
}
.hashtag-10-p img {
  left: 0;
}
.logos-footer {
  height: 50px;
  position: relative;
  margin: 0 auto 25px;
  max-width: 330px;
}
@media (max-width: 480px) and (min-width: 421px) {
  .logos-footer {
    max-width: 300px;
  }
}
@media (max-width: 420px) {
  .logos-footer {
    height: 36px;
    max-width: 250px;
    margin: 0 auto 20px;
  }
}
.bg-lightbox {
  background-color: rgba(61, 74, 75, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.box-alert {
  background-color: #ffe9b7;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  color: #1d6465;
  width: 80%;
  height: 115px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -57px;
  margin-left: -40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  display: table;
}
.box-alert .close-alert {
  position: absolute;
  height: 54px;
  width: 54px;
  text-align: center;
  top: -27px;
  right: -27px;
  background-color: #84b7b8;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.box-alert .close-alert .glyphicon {
  position: absolute;
  top: 15px;
  right: 13px;
}
.inner-alert {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.boxes-style-color {
  position: relative;
  margin-top: 10px;
}
@media (max-width: 480px) {
  .boxes-style-color {
    margin-top: 20px;
  }
}
.boxes-style-color .select-design {
  text-align: center;
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  font-weight: normal;
}
.boxes-style-color .button-select {
  text-align: center;
  display: block;
}
.boxes-style-color .button-select .btn {
  font-size: 21px;
  padding: 5px 30px;
  width: 180px;
  margin: 10px 10px 0;
}
@media (max-width: 779px) {
  .boxes-style-color .button-select .btn {
    width: auto;
    margin: 10px 5px 5px;
  }
}
.boxes-style-color .box-featured {
  height: 400px;
  width: 375px;
  z-index: 1;
  background-color: #fff;
  margin: -20px auto;
  margin-bottom: 5px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-featured {
    width: 285px;
    height: 304px;
  }
}
.boxes-style-color .corners {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.boxes-style-color .corners .c-top-left,
.boxes-style-color .corners .c-top-right,
.boxes-style-color .corners .c-bottom-left,
.boxes-style-color .corners .c-bottom-right {
  position: absolute;
  height: 50px;
  width: 50px;
}
.boxes-style-color .corners .c-top-left {
  top: 3px;
  left: 3px;
}
.boxes-style-color .corners .c-top-right {
  top: 3px;
  right: 3px;
}
.boxes-style-color .corners .c-bottom-left {
  bottom: 3px;
  left: 3px;
}
.boxes-style-color .corners .c-bottom-right {
  bottom: 3px;
  right: 3px;
}
.boxes-style-color .row {
  width: 90%;
  margin: 0 auto;
}
.boxes-style-color .row.row-little-boxes {
  width: 55%;
  margin: -5px auto 5px;
}
.boxes-style-color .col-md-2,
.boxes-style-color .col-sm-4,
.boxes-style-color .col-xs-6 {
  padding-right: 1px;
  padding-left: 1px;
}
.boxes-style-color .box-msg-1,
.boxes-style-color .box-msg-2,
.boxes-style-color .box-msg-3,
.boxes-style-color .box-msg-4,
.boxes-style-color .box-msg-5,
.boxes-style-color .box-msg-6,
.boxes-style-color a .box-msg-1,
.boxes-style-color a .box-msg-2,
.boxes-style-color a .box-msg-3,
.boxes-style-color a .box-msg-4,
.boxes-style-color a .box-msg-5,
.boxes-style-color a .box-msg-6 {
  border: 3px solid #61bfb7;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.boxes-style-color .box-msg-1 .line-span1,
.boxes-style-color .box-msg-2 .line-span1,
.boxes-style-color .box-msg-3 .line-span1,
.boxes-style-color .box-msg-4 .line-span1,
.boxes-style-color .box-msg-5 .line-span1,
.boxes-style-color .box-msg-6 .line-span1,
.boxes-style-color a .box-msg-1 .line-span1,
.boxes-style-color a .box-msg-2 .line-span1,
.boxes-style-color a .box-msg-3 .line-span1,
.boxes-style-color a .box-msg-4 .line-span1,
.boxes-style-color a .box-msg-5 .line-span1,
.boxes-style-color a .box-msg-6 .line-span1,
.boxes-style-color .box-msg-1 .line-span2,
.boxes-style-color .box-msg-2 .line-span2,
.boxes-style-color .box-msg-3 .line-span2,
.boxes-style-color .box-msg-4 .line-span2,
.boxes-style-color .box-msg-5 .line-span2,
.boxes-style-color .box-msg-6 .line-span2,
.boxes-style-color a .box-msg-1 .line-span2,
.boxes-style-color a .box-msg-2 .line-span2,
.boxes-style-color a .box-msg-3 .line-span2,
.boxes-style-color a .box-msg-4 .line-span2,
.boxes-style-color a .box-msg-5 .line-span2,
.boxes-style-color a .box-msg-6 .line-span2,
.boxes-style-color .box-msg-1 .pre-line-span2,
.boxes-style-color .box-msg-2 .pre-line-span2,
.boxes-style-color .box-msg-3 .pre-line-span2,
.boxes-style-color .box-msg-4 .pre-line-span2,
.boxes-style-color .box-msg-5 .pre-line-span2,
.boxes-style-color .box-msg-6 .pre-line-span2,
.boxes-style-color a .box-msg-1 .pre-line-span2,
.boxes-style-color a .box-msg-2 .pre-line-span2,
.boxes-style-color a .box-msg-3 .pre-line-span2,
.boxes-style-color a .box-msg-4 .pre-line-span2,
.boxes-style-color a .box-msg-5 .pre-line-span2,
.boxes-style-color a .box-msg-6 .pre-line-span2,
.boxes-style-color .box-msg-1 .line-span3,
.boxes-style-color .box-msg-2 .line-span3,
.boxes-style-color .box-msg-3 .line-span3,
.boxes-style-color .box-msg-4 .line-span3,
.boxes-style-color .box-msg-5 .line-span3,
.boxes-style-color .box-msg-6 .line-span3,
.boxes-style-color a .box-msg-1 .line-span3,
.boxes-style-color a .box-msg-2 .line-span3,
.boxes-style-color a .box-msg-3 .line-span3,
.boxes-style-color a .box-msg-4 .line-span3,
.boxes-style-color a .box-msg-5 .line-span3,
.boxes-style-color a .box-msg-6 .line-span3 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}
.boxes-style-color .box-msg-1 .logos-box-min,
.boxes-style-color .box-msg-2 .logos-box-min,
.boxes-style-color .box-msg-3 .logos-box-min,
.boxes-style-color .box-msg-4 .logos-box-min,
.boxes-style-color .box-msg-5 .logos-box-min,
.boxes-style-color .box-msg-6 .logos-box-min,
.boxes-style-color a .box-msg-1 .logos-box-min,
.boxes-style-color a .box-msg-2 .logos-box-min,
.boxes-style-color a .box-msg-3 .logos-box-min,
.boxes-style-color a .box-msg-4 .logos-box-min,
.boxes-style-color a .box-msg-5 .logos-box-min,
.boxes-style-color a .box-msg-6 .logos-box-min {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .logos-box-min,
  .boxes-style-color .box-msg-2 .logos-box-min,
  .boxes-style-color .box-msg-3 .logos-box-min,
  .boxes-style-color .box-msg-4 .logos-box-min,
  .boxes-style-color .box-msg-5 .logos-box-min,
  .boxes-style-color .box-msg-6 .logos-box-min,
  .boxes-style-color a .box-msg-1 .logos-box-min,
  .boxes-style-color a .box-msg-2 .logos-box-min,
  .boxes-style-color a .box-msg-3 .logos-box-min,
  .boxes-style-color a .box-msg-4 .logos-box-min,
  .boxes-style-color a .box-msg-5 .logos-box-min,
  .boxes-style-color a .box-msg-6 .logos-box-min {
    -ms-transform: scale(0.85);
    /* IE 9 */
    -webkit-transform: scale(0.85);
    /* Safari */
    transform: scale(0.85);
    bottom: 32px;
  }
}
.boxes-style-color .box-msg-1 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-2 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-3 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-4 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-5 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-6 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-1 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-2 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-3 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-4 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-5 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-6 .logos-box-min .hashtag-10-p-min {
  left: 35px;
  top: -25px;
  position: absolute;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color .box-msg-2 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color .box-msg-3 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color .box-msg-4 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color .box-msg-5 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color .box-msg-6 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color a .box-msg-1 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color a .box-msg-2 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color a .box-msg-3 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color a .box-msg-4 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color a .box-msg-5 .logos-box-min .hashtag-10-p-min,
  .boxes-style-color a .box-msg-6 .logos-box-min .hashtag-10-p-min {
    left: 10px;
    width: 123px;
    height: 27px;
  }
}
.boxes-style-color .box-msg-1 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-2 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-3 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-4 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-5 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-6 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-1 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-2 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-3 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-4 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-5 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-6 .logos-box-min .logo-clinica-min {
  right: 35px;
  top: -38px;
  position: absolute;
  width: 70px;
  height: 47px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .logos-box-min .logo-clinica-min,
  .boxes-style-color .box-msg-2 .logos-box-min .logo-clinica-min,
  .boxes-style-color .box-msg-3 .logos-box-min .logo-clinica-min,
  .boxes-style-color .box-msg-4 .logos-box-min .logo-clinica-min,
  .boxes-style-color .box-msg-5 .logos-box-min .logo-clinica-min,
  .boxes-style-color .box-msg-6 .logos-box-min .logo-clinica-min,
  .boxes-style-color a .box-msg-1 .logos-box-min .logo-clinica-min,
  .boxes-style-color a .box-msg-2 .logos-box-min .logo-clinica-min,
  .boxes-style-color a .box-msg-3 .logos-box-min .logo-clinica-min,
  .boxes-style-color a .box-msg-4 .logos-box-min .logo-clinica-min,
  .boxes-style-color a .box-msg-5 .logos-box-min .logo-clinica-min,
  .boxes-style-color a .box-msg-6 .logos-box-min .logo-clinica-min {
    right: 15px;
    width: 59px;
    height: 39px;
    top: -36px;
  }
}
.boxes-style-color .box-msg-1.box-mini img,
.boxes-style-color .box-msg-2.box-mini img,
.boxes-style-color .box-msg-3.box-mini img,
.boxes-style-color .box-msg-4.box-mini img,
.boxes-style-color .box-msg-5.box-mini img,
.boxes-style-color .box-msg-6.box-mini img,
.boxes-style-color a .box-msg-1.box-mini img,
.boxes-style-color a .box-msg-2.box-mini img,
.boxes-style-color a .box-msg-3.box-mini img,
.boxes-style-color a .box-msg-4.box-mini img,
.boxes-style-color a .box-msg-5.box-mini img,
.boxes-style-color a .box-msg-6.box-mini img {
  width: 100%;
  height: auto;
  display: block;
}
.boxes-style-color .box-msg-1 {
  background-color: #e33836;
}
.boxes-style-color .box-msg-1 .line-span1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  color: #e33836;
  width: 65%;
  margin: 0 auto;
  background-image: url('../img/post-image-bg/cinta-bg.png');
  top: 50px;
  background-repeat: repeat-x;
  height: 72px;
  font-size: 20px;
  width: 70%;
  top: 40px;
  padding: 5px 0;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .line-span1 {
    font-size: 16px;
    width: 65%;
    top: 40px;
    padding: 3px 0;
    background-image: url('../img/post-image-bg/cinta-bg-min.png');
  }
}
.boxes-style-color .box-msg-1 .line-span1 .span-title-1 {
  position: absolute;
  width: 97px;
  height: 72px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-1-izq.png');
  left: -42px;
  display: block;
  top: 0;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .line-span1 .span-title-1 {
    background-image: url('../img/post-image-bg/cinta-titulo-post-1-izq-mini.png');
    width: 70px;
    height: 50px;
  }
}
.boxes-style-color .box-msg-1 .line-span1 .span-title-2 {
  position: absolute;
  width: 97px;
  height: 71px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-1-der.png');
  right: -42px;
  display: block;
  top: 0;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .line-span1 .span-title-2 {
    background-image: url('../img/post-image-bg/cinta-titulo-post-1-der-min.png');
    width: 70px;
    height: 50px;
  }
}
.boxes-style-color .box-msg-1 .line-span2 {
  font-family: 'Great Vibes', cursive;
  font-size: 105px;
  color: #fae045;
  top: 125px;
  font-size: 70px;
  top: 110px;
  width: 330px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .line-span2 {
    font-size: 55px;
    top: 85px;
    width: 80%;
  }
}
.boxes-style-color .box-msg-1 .line-span3 {
  font-family: 'BenchNine', sans-serif;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
  padding: 3px 20px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-size: 24px;
  top: 208px;
  line-height: 30px;
  max-height: 68px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-1 .line-span3 {
    width: 80%;
    font-size: 18px;
    top: 165px;
    line-height: 120%;
    max-height: 50px;
  }
}
.boxes-style-color .box-msg-1 .c-top-left {
  background-image: url('../img/post-image-bg/square-bg-post-1.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.boxes-style-color .box-msg-1 .c-top-right {
  background-image: url('../img/post-image-bg/square-bg-post-1.png');
  background-repeat: no-repeat;
  background-position: -52px 0;
}
.boxes-style-color .box-msg-1 .c-bottom-left {
  background-image: url('../img/post-image-bg/square-bg-post-1.png');
  background-repeat: no-repeat;
  background-position: 0 -50px;
}
.boxes-style-color .box-msg-1 .c-bottom-right {
  background-image: url('../img/post-image-bg/square-bg-post-1.png');
  background-repeat: no-repeat;
  background-position: -52px -50px;
}
.boxes-style-color .box-msg-2 {
  background-color: #804ba1;
}
.boxes-style-color .box-msg-2 .line-span1 {
  font-family: 'Nixie One', cursive;
  font-size: 27px;
  color: #fff;
  text-transform: uppercase;
  background-color: #4cbeb4;
  top: 60px;
  width: 60%;
  margin: 0 auto;
  z-index: 2;
  font-size: 21px;
  padding: 4px 0;
  top: 50px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-2 .line-span1 {
    font-size: 15px;
    padding: 3px 0 2px;
    top: 50px;
    width: 52%;
  }
}
.boxes-style-color .box-msg-2 .line-span1 .span-title-1 {
  position: absolute;
  width: 61px;
  height: 58px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-2-izq.png');
  left: -50px;
  display: block;
  top: 0;
  z-index: 1;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-2 .line-span1 .span-title-1 {
    background-image: url('../img/post-image-bg/cinta-titulo-post-2-izq-min.png');
    width: 42px;
    height: 40px;
    left: -40px;
  }
}
.boxes-style-color .box-msg-2 .line-span1 .span-title-2 {
  position: absolute;
  width: 61px;
  height: 58px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-2-der.png');
  right: -50px;
  display: block;
  top: -20px;
  z-index: 1;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-2 .line-span1 .span-title-2 {
    background-image: url('../img/post-image-bg/cinta-titulo-post-2-der-min.png');
    width: 42px;
    height: 40px;
    right: -40px;
    top: -14px;
  }
}
.boxes-style-color .box-msg-2 .pre-line-span2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 105px;
  text-transform: uppercase;
  color: #8bd46b;
  top: 105px;
  letter-spacing: 0;
  text-shadow: -5px 5px 0 #5f0077, -10px 10px 0 #9664b5;
  display: inline-block;
  font-size: 75px;
  top: 98px;
  height: 105px;
  line-height: 105px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-2 .pre-line-span2 {
    font-size: 45px;
    top: 70px;
  }
}
.boxes-style-color .box-msg-2 .line-span2,
.boxes-style-color .box-msg-2 .point {
  display: inline-block;
  position: relative;
}
.boxes-style-color .box-msg-2 .line-span2 {
  max-width: 255px;
  overflow: hidden;
  height: 105px;
  line-height: 105px;
}
.boxes-style-color .box-msg-2 .point {
  top: -43px;
  font-family: 'Great Vibes', cursive;
  font-size: 150px;
  height: 105px;
  line-height: 105px;
}
.boxes-style-color .box-msg-2 .point.point-right {
  right: 15px;
}
.boxes-style-color .box-msg-2 .point.point-left {
  left: 5px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-2 .point {
    font-size: 70px;
  }
}
.boxes-style-color .box-msg-2 .line-span3 {
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  top: 215px;
  width: 300px;
  margin: 0 auto;
  max-height: 72px;
  line-height: 100%;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-2 .line-span3 {
    top: 160px;
    width: 75%;
    font-size: 28px;
    max-height: 58px;
  }
}
.boxes-style-color .box-msg-2 .last-word-line {
  z-index: 0;
}
.boxes-style-color .box-msg-2 .last-line {
  background-image: url('../img/post-image-bg/borde-last-word-post-2.png');
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  width: 50%;
  height: 12px;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  z-index: -1;
}
.boxes-style-color .box-msg-2 .c-top-left,
.boxes-style-color .box-msg-2 .c-top-right,
.boxes-style-color .box-msg-2 .c-bottom-left,
.boxes-style-color .box-msg-2 .c-bottom-right {
  height: 20px;
  width: 20px;
}
.boxes-style-color .box-msg-2 .c-top-left {
  background-image: url('../img/post-image-bg/square-bg-post-2.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.boxes-style-color .box-msg-2 .c-top-right {
  background-image: url('../img/post-image-bg/square-bg-post-2.png');
  background-repeat: no-repeat;
  background-position: -60px 0;
}
.boxes-style-color .box-msg-2 .c-bottom-left {
  background-image: url('../img/post-image-bg/square-bg-post-2.png');
  background-repeat: no-repeat;
  background-position: 0 -60px;
}
.boxes-style-color .box-msg-2 .c-bottom-right {
  background-image: url('../img/post-image-bg/square-bg-post-2.png');
  background-repeat: no-repeat;
  background-position: -60px -60px;
}
.boxes-style-color .box-msg-2 .c-top-left-line {
  position: absolute;
  top: 5px;
  background-image: url('../img/post-image-bg/square-bg-post-2-line.png');
  background-repeat: repeat;
  height: 14px;
  left: 22px;
  right: 22px;
  opacity: 0.5;
}
.boxes-style-color .box-msg-2 .c-bottom-left-line {
  position: absolute;
  bottom: 4px;
  background-image: url('../img/post-image-bg/square-bg-post-2-line.png');
  background-repeat: repeat;
  height: 14px;
  left: 22px;
  right: 22px;
  opacity: 0.5;
}
.boxes-style-color .box-msg-2 .c-bottom-right-line {
  position: absolute;
  left: 4px;
  background-image: url('../img/post-image-bg/square-bg-post-2-line-2.png');
  background-repeat: repeat;
  width: 14px;
  top: 22px;
  bottom: 22px;
  opacity: 0.5;
}
.boxes-style-color .box-msg-2 .c-top-right-line {
  position: absolute;
  right: 4px;
  background-image: url('../img/post-image-bg/square-bg-post-2-line-2.png');
  background-repeat: repeat;
  width: 14px;
  top: 22px;
  bottom: 22px;
  opacity: 0.5;
}
.boxes-style-color .box-msg-3 {
  background-color: #ed6600;
}
.boxes-style-color .box-msg-3 .line-span1 {
  font-family: 'Lobster Two', cursive;
  font-size: 57px;
  top: 30px;
  color: #ffda30;
  left: 30px;
  right: 30px;
  border-bottom: 2px solid #ffda30;
  text-shadow: -2px 2px 0 #ed2d00;
  font-size: 41px;
  top: 25px;
  font-style: italic;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .line-span1 {
    font-size: 30px;
    top: 20px;
    left: 20px;
    right: 20px;
  }
}
.boxes-style-color .box-msg-3 .line-span1 .last-word-line {
  font-family: 'Lobster', cursive;
  position: absolute;
  display: block;
  top: auto;
  left: 0;
  right: 0;
  color: #ffda30;
  text-shadow: -2px 2px 0 #ed2d00;
  background-color: transparent;
  margin-top: 10px;
  font-size: 27px;
  line-height: 110%;
  display: block !important;
  font-style: normal;
  max-height: 62px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .line-span1 .last-word-line {
    font-size: 18px;
    max-height: 40px;
  }
}
.boxes-style-color .box-msg-3 .pre-line-span2 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  text-shadow: -3px 3px 0 #3f9166;
  font-size: 54px;
  top: 108px;
  letter-spacing: 0;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .pre-line-span2 {
    font-size: 45px;
    top: 115px;
    letter-spacing: 0;
    max-width: 80%;
    margin: 0 auto;
    height: 50px;
    overflow: hidden;
  }
}
.boxes-style-color .box-msg-3 .pre-line-span2 .line-span2,
.boxes-style-color .box-msg-3 .pre-line-span2 .point {
  display: inline-block;
  position: relative;
}
.boxes-style-color .box-msg-3 .pre-line-span2 .line-span2 {
  max-width: 255px;
  overflow: hidden;
  height: 105px;
  line-height: 105px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .pre-line-span2 .line-span2 {
    height: 50px;
    line-height: 50px;
  }
}
.boxes-style-color .box-msg-3 .pre-line-span2 .point {
  top: -45px;
  font-family: 'Great Vibes', cursive;
  font-size: 150px;
}
.boxes-style-color .box-msg-3 .pre-line-span2 .point.point-right {
  right: 15px;
}
.boxes-style-color .box-msg-3 .pre-line-span2 .point.point-left {
  left: 5px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .pre-line-span2 .point {
    font-size: 90px;
  }
}
.boxes-style-color .box-msg-3 .line-span3 {
  font-family: 'Cinzel', serif;
  background-color: #4cbe82;
  width: 165px;
  margin: 0 auto;
  z-index: 2;
  padding: 8px 0;
  font-size: 15px;
  top: 263px;
  height: 35px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .line-span3 {
    font-size: 14px;
    top: 195px;
    padding: 4px 0 5px;
    height: 26px;
    max-width: 40%;
  }
}
.boxes-style-color .box-msg-3 .line-span3 .span-title-1 {
  position: absolute;
  width: 89px;
  height: 54px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-3-izq.png');
  left: -85px;
  display: block;
  top: -19px;
  z-index: 1;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .line-span3 .span-title-1 {
    left: -66px;
    background-image: url('../img/post-image-bg/cinta-titulo-post-3-izq-min.png');
    width: 66px;
    height: 40px;
    top: -14px;
  }
}
.boxes-style-color .box-msg-3 .line-span3 .span-title-2 {
  position: absolute;
  width: 89px;
  height: 54px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-3-der.png');
  right: -85px;
  display: block;
  top: -19px;
  z-index: 1;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-3 .line-span3 .span-title-2 {
    right: -66px;
    background-image: url('../img/post-image-bg/cinta-titulo-post-3-der-min.png');
    width: 66px;
    height: 40px;
    top: -14px;
  }
}
.boxes-style-color .box-msg-3 .line-span3 .last-word-line {
  font-family: 'Lobster', cursive;
  position: absolute;
  display: block;
  top: auto;
  left: 0;
  right: 0;
  color: #ffda30;
  text-shadow: -2px 2px 0 #ed2d00;
  background-color: transparent;
  margin-top: 15px;
  font-size: 24px !important;
  left: -30px;
  right: -30px;
  line-height: 110%;
}
.boxes-style-color .box-msg-3 .c-top-left {
  background-image: url('../img/post-image-bg/square-bg-post-3.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.boxes-style-color .box-msg-3 .c-top-right {
  background-image: url('../img/post-image-bg/square-bg-post-3.png');
  background-repeat: no-repeat;
  background-position: -52px 0;
}
.boxes-style-color .box-msg-3 .c-bottom-left {
  background-image: url('../img/post-image-bg/square-bg-post-3.png');
  background-repeat: no-repeat;
  background-position: 0 -50px;
}
.boxes-style-color .box-msg-3 .c-bottom-right {
  background-image: url('../img/post-image-bg/square-bg-post-3.png');
  background-repeat: no-repeat;
  background-position: -52px -50px;
}
.boxes-style-color .box-msg-4 {
  background-color: #00837c;
}
.boxes-style-color .box-msg-4 .line-span1 {
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
  color: #c9c8c4;
  font-size: 40px;
  top: 17px;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-4 .line-span1 {
    font-size: 24px;
    top: 12px;
    max-width: 80%;
  }
}
.boxes-style-color .box-msg-4 .line-span2 {
  font-family: 'Six Caps', sans-serif;
  font-size: 102px;
  text-transform: uppercase;
  color: #ffdc48;
  text-shadow: -3px 3px 0 #1f4766;
  font-size: 95px;
  top: 65px;
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-4 .line-span2 {
    font-size: 75px;
    top: 40px;
  }
}
.boxes-style-color .box-msg-4 .line-span3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 35px;
  background-color: #ffac4d;
  color: #00837c;
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  top: 200px;
  line-height: 100%;
  padding: 4px 5px 6px;
  width: 300px;
  max-height: 57px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-4 .line-span3 {
    font-size: 21px;
    top: 150px;
    max-width: 80%;
    max-height: 50px;
  }
}
.boxes-style-color .box-msg-4 .line-span3 .span-title-1 {
  position: absolute;
  width: 60px;
  height: 12px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-4-izq.png');
  left: 0px;
  display: block;
  top: -12px;
  z-index: 1;
}
.boxes-style-color .box-msg-4 .line-span3 .span-title-2 {
  position: absolute;
  width: 60px;
  height: 12px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-4-der.png');
  right: 0px;
  display: block;
  bottom: -12px;
  z-index: 1;
}
.boxes-style-color .box-msg-4 .line-span3 .last-word-line {
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color: #c9c8c4;
  position: absolute;
  background-color: transparent;
  left: 0;
  right: 0;
  font-size: 34px;
  max-width: 295px;
  text-align: center;
  margin-top: 23px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-4 .line-span3 .last-word-line {
    font-size: 21px;
    top: 30px;
  }
}
.boxes-style-color .box-msg-4 .c-top-left {
  background-image: url('../img/post-image-bg/square-bg-post-4.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.boxes-style-color .box-msg-4 .c-top-right {
  background-image: url('../img/post-image-bg/square-bg-post-4.png');
  background-repeat: no-repeat;
  background-position: -52px 0;
}
.boxes-style-color .box-msg-4 .c-bottom-left {
  background-image: url('../img/post-image-bg/square-bg-post-4.png');
  background-repeat: no-repeat;
  background-position: 0 -50px;
}
.boxes-style-color .box-msg-4 .c-bottom-right {
  background-image: url('../img/post-image-bg/square-bg-post-4.png');
  background-repeat: no-repeat;
  background-position: -52px -50px;
}
.boxes-style-color .box-msg-5 {
  background-color: #65bd5c;
}
.boxes-style-color .box-msg-5 .line-span1 {
  font-size: 16px;
  top: 40px;
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
  padding: 3px 20px 0;
  color: #f6f0d0;
  border-top: 2px solid #f6f0d0;
  border-bottom: 2px solid #f6f0d0;
  font-size: 24px;
  line-height: 30px;
  max-height: 98px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-5 .line-span1 {
    font-size: 18px;
    top: 30px;
    width: 80%;
    line-height: 110%;
    max-height: 45px;
    overflow: hidden;
  }
}
.boxes-style-color .box-msg-5 .line-span2 {
  font-family: 'Cookie', cursive;
  font-size: 110px;
  color: #ffdc48;
  text-shadow: -5px 5px 0 #1f4766;
  font-size: 70px;
  top: 120px;
  max-width: 300px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-5 .line-span2 {
    font-size: 60px;
    top: 70px;
  }
}
.boxes-style-color .box-msg-5 .line-span3 {
  font-family: 'Cinzel', serif;
  font-size: 18px;
  background-color: #1f4766;
  top: 235px;
  width: 65%;
  margin: 0 auto;
  padding: 5px 0;
  max-height: 65px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-5 .line-span3 {
    font-size: 13px;
    top: 180px;
    max-height: 42px;
  }
}
.boxes-style-color .box-msg-5 .line-span3 .span-title-1 {
  position: absolute;
  width: 41px;
  height: 25px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-5-izq.png');
  left: -18px;
  display: block;
  top: -12px;
  z-index: 1;
}
.boxes-style-color .box-msg-5 .line-span3 .span-title-2 {
  position: absolute;
  width: 41px;
  height: 25px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-5-der.png');
  right: -18px;
  display: block;
  bottom: -12px;
  z-index: 1;
}
.boxes-style-color .box-msg-5 .line-span3 .pre-last-word-line {
  display: block;
  font-family: 'Six Caps', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -70px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-5 .line-span3 .pre-last-word-line {
    font-size: 45px;
  }
}
.boxes-style-color .box-msg-5 .line-span3 .pre-last-word-line .last-word-line,
.boxes-style-color .box-msg-5 .line-span3 .pre-last-word-line .point {
  display: inline-block;
  position: relative;
}
.boxes-style-color .box-msg-5 .line-span3 .pre-last-word-line .point {
  top: -17px;
  font-family: 'Great Vibes', cursive;
  font-size: 150px;
}
.boxes-style-color .box-msg-5 .line-span3 .pre-last-word-line .point.point-right {
  right: 15px;
}
.boxes-style-color .box-msg-5 .line-span3 .pre-last-word-line .point.point-left {
  left: 5px;
}
.boxes-style-color .box-msg-5 .c-top-left {
  background-image: url('../img/post-image-bg/square-bg-post-5.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.boxes-style-color .box-msg-5 .c-top-right {
  background-image: url('../img/post-image-bg/square-bg-post-5.png');
  background-repeat: no-repeat;
  background-position: -52px 0;
}
.boxes-style-color .box-msg-5 .c-bottom-left {
  background-image: url('../img/post-image-bg/square-bg-post-5.png');
  background-repeat: no-repeat;
  background-position: 0 -50px;
}
.boxes-style-color .box-msg-5 .c-bottom-right {
  background-image: url('../img/post-image-bg/square-bg-post-5.png');
  background-repeat: no-repeat;
  background-position: -52px -50px;
}
.boxes-style-color .box-msg-6 {
  background-color: #2aa5ad;
}
.boxes-style-color .box-msg-6 .line-span1 {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  color: #e6ca50;
  top: 50px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-6 .line-span1 {
    font-size: 21px;
    top: 25px;
  }
}
.boxes-style-color .box-msg-6 .pre-line-span2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 102px;
  text-transform: uppercase;
  top: 110px;
  letter-spacing: 0;
  text-shadow: -5px 5px 0 #05364a;
  font-size: 65px;
  top: 10px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-6 .pre-line-span2 {
    font-size: 44px;
    top: 20px;
    max-width: 85%;
    margin: 0 auto;
  }
}
.boxes-style-color .box-msg-6 .pre-line-span2 .line-span2,
.boxes-style-color .box-msg-6 .pre-line-span2 .point {
  display: inline-block;
  position: relative;
}
.boxes-style-color .box-msg-6 .pre-line-span2 .point {
  top: -17px;
  font-family: 'Great Vibes', cursive;
  font-size: 150px;
}
.boxes-style-color .box-msg-6 .pre-line-span2 .point.point-right {
  right: 15px;
}
.boxes-style-color .box-msg-6 .pre-line-span2 .point.point-left {
  left: 5px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-6 .pre-line-span2 .point {
    font-size: 90px;
    top: -10px;
  }
}
.boxes-style-color .box-msg-6 .line-span3 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #e6ca50;
  top: 235px;
  font-size: 30px;
  top: 158px;
  right: 20px;
  left: 20px;
  line-height: 125%;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-6 .line-span3 {
    font-size: 23px;
    top: 112px;
  }
}
.boxes-style-color .box-msg-6 .line-span3 .line-text {
  max-height: 90px;
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 300px;
  padding: 8px;
}
.boxes-style-color .box-msg-6 .last-word-line {
  display: block;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 24px;
  color: #fff;
  background-color: #2f7489;
  position: absolute;
  left: 12%;
  right: 12%;
  top: 260px;
}
@media (max-width: 480px) {
  .boxes-style-color .box-msg-6 .last-word-line {
    font-size: 21px;
    top: 190px;
    max-width: 63%;
    margin: 0 auto;
  }
}
.boxes-style-color .box-msg-6 .last-word-line .span-title-1 {
  position: absolute;
  width: 48px;
  height: 63px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-6-izq.png');
  left: -32px;
  display: block;
  top: -20px;
  z-index: 1;
}
.boxes-style-color .box-msg-6 .last-word-line .span-title-2 {
  position: absolute;
  width: 48px;
  height: 63px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-6-der.png');
  right: -32px;
  display: block;
  top: -20px;
  z-index: 1;
}
.boxes-style-color .box-msg-6 .c-top-left {
  background-image: url('../img/post-image-bg/square-bg-post-6.png');
  background-repeat: repeat;
  height: 11px;
  width: 97%;
}
.boxes-style-color .box-msg-6 .c-top-right {
  background-image: url('../img/post-image-bg/square-bg-post-6.png');
  background-repeat: repeat;
  top: 16px;
  bottom: 15px;
  width: 12px;
  height: auto;
}
.boxes-style-color .box-msg-6 .c-bottom-left {
  background-image: url('../img/post-image-bg/square-bg-post-6.png');
  background-repeat: repeat;
  top: 14px;
  bottom: 16px;
  width: 12px;
  height: auto;
}
.boxes-style-color .box-msg-6 .c-bottom-right {
  background-image: url('../img/post-image-bg/square-bg-post-6.png');
  background-repeat: repeat;
  height: 11px;
  width: 97.5%;
}
.publish-facebook {
  margin-top: 15px;
}
.publish-facebook .publish-face {
  height: 65px;
  text-align: left;
}
.publish-facebook .btn.btn-default {
  font-size: 21px;
}
.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  border: 1px solid #8b9dc3;
  font-size: 16px;
  position: relative;
  background-image: url('../img/FB-f-Logo__white_29.png');
  background-repeat: no-repeat;
  padding: 12px 15px 12px 55px;
  background-position: 15px 9px;
  margin: 7px 0 0;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
}
@media (max-width: 360px) {
  .btn-facebook {
    font-size: 14px;
    padding: 12px 12px 12px 50px;
    background-position: 12px 9px;
  }
}
