body {
  background-color: #00837c;
  color: #ffffff;
}
.app-bg {
  position: relative;
  padding: 50px 0 20px;
}
@media (max-width: 480px) {
  .app-bg {
    padding-bottom: 80px;
  }
}
.square-bg {
  background-image: url('../img/square-bg.png');
  position: absolute;
  height: 85px;
  width: 85px;
}
.square-bg.top-left {
  top: 0;
  left: -15px;
}
.square-bg.bottom-left {
  bottom: 0;
  left: -15px;
  background-position: bottom left;
}
.square-bg.bottom-right {
  bottom: 0;
  right: -15px;
  background-position: bottom right;
}
.square-bg.top-right {
  top: 0;
  right: -15px;
  background-position: top right;
}
.feat-image {
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #ffe9b7;
}
@media (max-width: 480px) {
  .feat-image {
    width: 100%;
    height: auto;
  }
}
.content-message {
  margin: 50px 30px;
}
.advice-msg {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  font-weight: normal;
}
.title-advice-msg {
  font-family: 'Lobster', cursive;
  font-size: 47px;
  font-weight: normal;
  margin: 0 0 30px;
}
.logo-clinica img,
.hashtag-10-p img {
  position: absolute;
  bottom: 0;
}
@media (max-width: 780px) {
  .logo-clinica img,
  .hashtag-10-p img {
    -ms-transform: scale(0.7);
    /* IE 9 */
    -webkit-transform: scale(0.7);
    /* Safari */
    transform: scale(0.7);
  }
}
@media (max-width: 480px) {
  .logo-clinica img,
  .hashtag-10-p img {
    position: relative;
    bottom: auto;
    margin: 20px auto;
    display: block;
  }
}
.logo-clinica img {
  right: 0;
}
.hashtag-10-p img {
  left: 0;
}
.logos-footer {
  height: 120px;
  position: relative;
  margin: 0 40px 50px;
}
.bg-lightbox {
  background-color: rgba(61, 74, 75, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.box-alert {
  background-color: #ffe9b7;
  font-family: 'Lobster', cursive;
  font-size: 33px;
  color: #1d6465;
  width: 540px;
  height: 115px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -57px;
  margin-left: -270px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  display: table;
}
.box-alert .close-alert {
  position: absolute;
  height: 54px;
  width: 54px;
  text-align: center;
  top: -27px;
  right: -27px;
  background-color: #84b7b8;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.box-alert .close-alert .glyphicon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.inner-alert {
  display: table-cell;
  vertical-align: middle;
}
