body {
  background-color: #00837c;
  color: #ffffff;
}
.app-bg {
  position: relative;
  padding: 50px 0 20px;
}
@media (max-width: 480px) {
  .app-bg {
    padding-bottom: 80px;
  }
}
.square-bg {
  background-image: url('../img/square-bg.png');
  position: absolute;
  height: 85px;
  width: 85px;
}
.square-bg.top-left {
  top: 0;
  left: -20px;
}
.square-bg.bottom-left {
  bottom: 0;
  left: -20px;
  background-position: bottom left;
}
.square-bg.bottom-right {
  bottom: 0;
  right: -20px;
  background-position: bottom right;
}
.square-bg.top-right {
  top: 0;
  right: -20px;
  background-position: top right;
}
.feat-image {
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #ffe9b7;
}
@media (max-width: 480px) {
  .feat-image {
    width: 100%;
    height: auto;
  }
}
.content-message {
  margin: 50px 30px;
}
.advice-msg {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  font-weight: normal;
}
.logo-clinica img,
.hashtag-10-p img {
  position: absolute;
  bottom: 0;
}
@media (max-width: 780px) {
  .logo-clinica img,
  .hashtag-10-p img {
    -ms-transform: scale(0.7);
    /* IE 9 */
    -webkit-transform: scale(0.7);
    /* Safari */
    transform: scale(0.7);
  }
}
@media (max-width: 480px) {
  .logo-clinica img,
  .hashtag-10-p img {
    position: relative;
    bottom: auto;
    margin: 20px auto;
    display: block;
  }
}
.logo-clinica img {
  right: 0;
}
.hashtag-10-p img {
  left: 0;
}
.logos-footer {
  height: 120px;
  position: relative;
  margin-bottom: 50px;
}
