body {
  background-color: #00837c;
  color: #ffffff;
}
.app-bg {
  position: relative;
  padding: 50px 0 20px;
}
@media (max-width: 480px) {
  .app-bg {
    padding-bottom: 80px;
  }
}
.square-bg {
  background-image: url('../img/square-bg.png');
  position: absolute;
  height: 85px;
  width: 85px;
}
.square-bg.top-left {
  top: 0;
  left: -15px;
}
.square-bg.bottom-left {
  bottom: 0;
  left: -15px;
  background-position: bottom left;
}
.square-bg.bottom-right {
  bottom: 0;
  right: -15px;
  background-position: bottom right;
}
.square-bg.top-right {
  top: 0;
  right: -15px;
  background-position: top right;
}
.feat-image {
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #ffe9b7;
}
@media (max-width: 480px) {
  .feat-image {
    width: 100%;
    height: auto;
  }
}
.content-message {
  margin: 50px 30px;
}
.advice-msg {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  font-weight: normal;
}
.title-advice-msg {
  font-family: 'Lobster', cursive;
  font-size: 47px;
  font-weight: normal;
  margin: 0 0 30px;
}
.logo-clinica img,
.hashtag-10-p img {
  position: absolute;
  bottom: 0;
}
@media (max-width: 780px) {
  .logo-clinica img,
  .hashtag-10-p img {
    -ms-transform: scale(0.7);
    /* IE 9 */
    -webkit-transform: scale(0.7);
    /* Safari */
    transform: scale(0.7);
  }
}
@media (max-width: 480px) {
  .logo-clinica img,
  .hashtag-10-p img {
    position: relative;
    bottom: auto;
    margin: 20px auto;
    display: block;
  }
}
.logo-clinica img {
  right: 0;
}
.hashtag-10-p img {
  left: 0;
}
.logos-footer {
  height: 120px;
  position: relative;
  margin: 0 40px 50px;
}
.bg-lightbox {
  background-color: rgba(61, 74, 75, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.box-alert {
  background-color: #ffe9b7;
  font-family: 'Lobster', cursive;
  font-size: 33px;
  color: #1d6465;
  width: 540px;
  height: 115px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -57px;
  margin-left: -270px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  display: table;
}
.box-alert .close-alert {
  position: absolute;
  height: 54px;
  width: 54px;
  text-align: center;
  top: -27px;
  right: -27px;
  background-color: #84b7b8;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.box-alert .close-alert .glyphicon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.inner-alert {
  display: table-cell;
  vertical-align: middle;
}
.boxes-style-color {
  position: relative;
  margin-top: -510px;
}
.boxes-style-color .box-featured {
  height: 510px;
  width: 460px;
  z-index: 1;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}
.boxes-style-color .row {
  width: 90%;
  margin: 0 auto;
}
.boxes-style-color .col-md-2,
.boxes-style-color .col-sm-4,
.boxes-style-color .col-xs-6 {
  padding-right: 1px;
  padding-left: 1px;
}
.boxes-style-color .box-msg-1,
.boxes-style-color .box-msg-2,
.boxes-style-color .box-msg-3,
.boxes-style-color .box-msg-4,
.boxes-style-color .box-msg-5,
.boxes-style-color .box-msg-6,
.boxes-style-color a .box-msg-1,
.boxes-style-color a .box-msg-2,
.boxes-style-color a .box-msg-3,
.boxes-style-color a .box-msg-4,
.boxes-style-color a .box-msg-5,
.boxes-style-color a .box-msg-6 {
  border: 3px solid #61bfb7;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.boxes-style-color .box-msg-1 .line-span1,
.boxes-style-color .box-msg-2 .line-span1,
.boxes-style-color .box-msg-3 .line-span1,
.boxes-style-color .box-msg-4 .line-span1,
.boxes-style-color .box-msg-5 .line-span1,
.boxes-style-color .box-msg-6 .line-span1,
.boxes-style-color a .box-msg-1 .line-span1,
.boxes-style-color a .box-msg-2 .line-span1,
.boxes-style-color a .box-msg-3 .line-span1,
.boxes-style-color a .box-msg-4 .line-span1,
.boxes-style-color a .box-msg-5 .line-span1,
.boxes-style-color a .box-msg-6 .line-span1,
.boxes-style-color .box-msg-1 .line-span2,
.boxes-style-color .box-msg-2 .line-span2,
.boxes-style-color .box-msg-3 .line-span2,
.boxes-style-color .box-msg-4 .line-span2,
.boxes-style-color .box-msg-5 .line-span2,
.boxes-style-color .box-msg-6 .line-span2,
.boxes-style-color a .box-msg-1 .line-span2,
.boxes-style-color a .box-msg-2 .line-span2,
.boxes-style-color a .box-msg-3 .line-span2,
.boxes-style-color a .box-msg-4 .line-span2,
.boxes-style-color a .box-msg-5 .line-span2,
.boxes-style-color a .box-msg-6 .line-span2,
.boxes-style-color .box-msg-1 .line-span3,
.boxes-style-color .box-msg-2 .line-span3,
.boxes-style-color .box-msg-3 .line-span3,
.boxes-style-color .box-msg-4 .line-span3,
.boxes-style-color .box-msg-5 .line-span3,
.boxes-style-color .box-msg-6 .line-span3,
.boxes-style-color a .box-msg-1 .line-span3,
.boxes-style-color a .box-msg-2 .line-span3,
.boxes-style-color a .box-msg-3 .line-span3,
.boxes-style-color a .box-msg-4 .line-span3,
.boxes-style-color a .box-msg-5 .line-span3,
.boxes-style-color a .box-msg-6 .line-span3 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.boxes-style-color .box-msg-1 .logos-box-min,
.boxes-style-color .box-msg-2 .logos-box-min,
.boxes-style-color .box-msg-3 .logos-box-min,
.boxes-style-color .box-msg-4 .logos-box-min,
.boxes-style-color .box-msg-5 .logos-box-min,
.boxes-style-color .box-msg-6 .logos-box-min,
.boxes-style-color a .box-msg-1 .logos-box-min,
.boxes-style-color a .box-msg-2 .logos-box-min,
.boxes-style-color a .box-msg-3 .logos-box-min,
.boxes-style-color a .box-msg-4 .logos-box-min,
.boxes-style-color a .box-msg-5 .logos-box-min,
.boxes-style-color a .box-msg-6 .logos-box-min {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}
.boxes-style-color .box-msg-1 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-2 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-3 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-4 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-5 .logos-box-min .hashtag-10-p-min,
.boxes-style-color .box-msg-6 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-1 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-2 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-3 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-4 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-5 .logos-box-min .hashtag-10-p-min,
.boxes-style-color a .box-msg-6 .logos-box-min .hashtag-10-p-min {
  left: 30px;
  top: -46px;
  position: absolute;
}
.boxes-style-color .box-msg-1 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-2 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-3 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-4 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-5 .logos-box-min .logo-clinica-min,
.boxes-style-color .box-msg-6 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-1 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-2 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-3 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-4 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-5 .logos-box-min .logo-clinica-min,
.boxes-style-color a .box-msg-6 .logos-box-min .logo-clinica-min {
  right: 30px;
  top: -70px;
  position: absolute;
}
.boxes-style-color .box-msg-1.box-mini img,
.boxes-style-color .box-msg-2.box-mini img,
.boxes-style-color .box-msg-3.box-mini img,
.boxes-style-color .box-msg-4.box-mini img,
.boxes-style-color .box-msg-5.box-mini img,
.boxes-style-color .box-msg-6.box-mini img,
.boxes-style-color a .box-msg-1.box-mini img,
.boxes-style-color a .box-msg-2.box-mini img,
.boxes-style-color a .box-msg-3.box-mini img,
.boxes-style-color a .box-msg-4.box-mini img,
.boxes-style-color a .box-msg-5.box-mini img,
.boxes-style-color a .box-msg-6.box-mini img {
  width: 100%;
  height: auto;
  display: block;
}
.boxes-style-color .box-msg-1 {
  background-color: #e33836;
}
.boxes-style-color .box-msg-1 .line-span1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 27px;
  color: #e33836;
  width: 60%;
  margin: 0 auto;
  background-image: url('../img/post-image-bg/cinta-bg.png');
  top: 50px;
  background-repeat: repeat-x;
  height: 72px;
}
.boxes-style-color .box-msg-1 .line-span1 .span-title-1 {
  position: absolute;
  width: 109px;
  height: 72px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-1-izq.png');
  left: -50px;
  display: block;
  top: 0;
}
.boxes-style-color .box-msg-1 .line-span1 .span-title-2 {
  position: absolute;
  width: 109px;
  height: 71px;
  background-image: url('../img/post-image-bg/cinta-titulo-post-1-der.png');
  right: -50px;
  display: block;
  top: 0;
}
.boxes-style-color .box-msg-1 .line-span2 {
  font-family: 'Great Vibes', cursive;
  font-size: 105px;
  color: #fae045;
  top: 125px;
}
.boxes-style-color .box-msg-1 .line-span3 {
  font-family: 'BenchNine', sans-serif;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  top: 285px;
  width: 60%;
  margin: 0 auto;
  padding: 3px 20px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.boxes-style-color .box-msg-2 {
  background-color: #804ba1;
}
.boxes-style-color .box-msg-2 .line-span1 {
  font-family: 'Lobster Two', cursive;
  font-size: 104px;
}
.boxes-style-color .box-msg-2 .line-span2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 112px;
  text-transform: uppercase;
}
.boxes-style-color .box-msg-2 .line-span3 {
  font-family: 'Cinzel', serif;
  font-size: 50px;
}
.boxes-style-color .box-msg-2 .line-span3 .last-word-line {
  display: block;
  font-family: 'Lobster', cursive;
}
.boxes-style-color .box-msg-3 {
  background-color: #ed6600;
}
.boxes-style-color .box-msg-3 .line-span1 {
  font-family: 'Nixie One', cursive;
  font-size: 49px;
}
.boxes-style-color .box-msg-3 .line-span2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 150px;
  text-transform: uppercase;
}
.boxes-style-color .box-msg-3 .line-span3 {
  font-family: 'Great Vibes', cursive;
  font-size: 55px;
}
.boxes-style-color .box-msg-3 .line-span3 .last-word-line {
  display: block;
  font-family: 'Cookie', cursive;
  font-size: 130px;
}
.boxes-style-color .box-msg-4 {
  background-color: #2aa5ad;
}
.boxes-style-color .box-msg-4 .line-span1 {
  font-family: 'Dancing Script', cursive;
  font-size: 104px;
}
.boxes-style-color .box-msg-4 .line-span2 {
  font-family: 'Six Caps', sans-serif;
  font-size: 172px;
  text-transform: uppercase;
}
.boxes-style-color .box-msg-4 .line-span3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 55px;
}
.boxes-style-color .box-msg-4 .line-span3 .last-word-line {
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 66px;
}
.boxes-style-color .box-msg-5 {
  background-color: #65bd5c;
}
.boxes-style-color .box-msg-5 .line-span1 {
  font-family: 'Cinzel', serif;
  font-size: 56px;
}
.boxes-style-color .box-msg-5 .line-span2 {
  font-family: 'Cookie', cursive;
  font-size: 110px;
}
.boxes-style-color .box-msg-5 .line-span3 {
  font-family: 'BenchNine', sans-serif;
  font-size: 55px;
}
.boxes-style-color .box-msg-5 .line-span3 .last-word-line {
  display: block;
  font-family: 'Six Caps', sans-serif;
  font-size: 86px;
  text-transform: uppercase;
}
.boxes-style-color .box-msg-6 {
  background-color: #00837c;
}
.boxes-style-color .box-msg-6 .line-span1 {
  font-family: 'Pacifico', cursive;
  font-size: 79px;
}
.boxes-style-color .box-msg-6 .line-span2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 172px;
  text-transform: uppercase;
}
.boxes-style-color .box-msg-6 .line-span3 {
  font-family: 'Pacifico', cursive;
  font-size: 79px;
}
.boxes-style-color .box-msg-6 .line-span3 .last-word-line {
  display: block;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 50px;
}
