body {
	background-color: #00837c;
	color: #ffffff;
}
.app-bg {
	position: relative;
	padding: 50px 0 120px;
}
.square-bg {
	background-image: url('../img/square-bg.png');
	position: absolute;
	height: 85px;
	width: 85px;
	&.top-left {
		top: 0;
		left: -20px;
	}
	&.bottom-left {
		bottom: 0;
		left: -20px;
		background-position: bottom left;
	}
	&.bottom-right {
		bottom: 0;
		right: -20px;
		background-position: bottom right;
	}
	&.top-right {
		top: 0;
		right: -20px;
		background-position: top right;
	}
}
.feat-image {
	display: block;
	margin: 0 auto;
	border-bottom: 3px solid #ffe9b7;
	@media (max-width: 480px) {
		width: 100%;
		height: auto;
	} 
}
.content-message {
	margin: 50px 30px;
}
.advice-msg {
	font-family: 'Lobster', cursive;
	font-size: 28px;
	font-weight: normal;
}
.logo-clinica {
	position: absolute;
	right: 70px;
	bottom: 55px;
}
.hashtag-10-p {
	position: absolute;
	left: 70px;
	bottom: 55px;
	color: #fff;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	width: 297px;
	height: 66px;
	//background-color: #000;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
	.hash-display {
		position: relative;
		width: 297px;
		height: 66px;
	}
	.hashtag {
		font-size: 100px;
		font-weight: bold;
		font-style: italic;
		display: block;
		position: absolute;
		left: 0;
		top: -32px;
	}
	.hashtag-line-1 {
		top: -7px;
		display: block;
		position: absolute;
		font-weight: bold;
		left: 65px;
		font-size: 34px;
	}
	.hashtag-line-2 {
		bottom: -11px;
		display: block;
		position: absolute;
		font-weight: bold;
		left: 65px;
		font-size: 34px;
	}
}